body {
  font-family: "Oswald", sans-serif;
  background: radial-gradient(rgb(213, 143, 200), rgb(249, 239, 220));
}

.weather-app {
  background: rgb(250, 229, 223);
  margin: 45px auto;
  padding: 30px;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 40px 60px rgba(47, 6, 78, 0.8);
}
